<form class="example-container" [formGroup]="form" #frmPatient="ngForm" (submit)="operate()">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="idProduct">
      </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" minlength="3" required formControlName="name">
      <small *ngIf="f['name'].errors?.['required'] && f['name'].touched" class="invalid">Is required</small>
      <small *ngIf="f['name'].errors?.['minlength'] && f['name'].touched" class="invalid">Minlength is 3</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Brand" minlength="3" required formControlName="brand">
      <small *ngIf="f['brand'].errors?.['required'] && f['brand'].touched" class="invalid">Is required</small>
      <small *ngIf="f['brand'].errors?.['minlength'] && f['brand'].touched" class="invalid">Minlength is 3</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="S/. "  required formControlName="price">
    <small *ngIf="f['price'].errors?.['required'] && f['price'].touched" class="invalid">Is required</small>
    <small *ngIf="f['price'].errors?.['min'] && f['price'].touched" class="invalid">Min is 0</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Photo"  required formControlName="photoUrl">
    <small *ngIf="f['photoUrl'].errors?.['required'] && f['photoUrl'].touched" class="invalid">Is required</small>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmPatient.invalid">
      <mat-icon>done</mat-icon>
      <span>Done</span>
  </button>

  <button mat-raised-button color="accent" type="button" routerLink="/pages/product">
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
  </button>
</form>
